# Arti Association Rule Mining

Association rule mining adalah salah satu metode data mining yang dapat mengidentifikasi hubungan kesamaan antar item. 
Dalam metode ini dibutuhkan algoritma untuk mencari kandidat aturan asosiasi. Salah satu algoritma yang biasa dipakai adalah 
algoritma apriori. Metode ini dimulai dengan mencari sejumlah frequent itemset dan dilanjutkan dengan pembentukan aturan-aturan 
asosiasi (association rules).

Association rules adalah mengetahui seberapa sering kombinasi item muncul dalam database, yang disebut sebagai frequent patterns.

# Algoritma

Algoritma adalah urutan atau langkah-langkah yang logis dan sistematis untuk memecahkan dan menyelesaikan suatu masalah.
Algoritma Apriori adalah salah satu algoritma pada data mining untuk mencari frequent item/itemset pada transaksional database.

Algoritma apriori banyak digunakan pada data transaksi atau biasa disebut market basket, misalnya sebuah swalayan memiliki 
market basket, dengan adanya algoritma apriori, pemilik swalayan dapat mengetahui pola pembelian seorang konsumen.

# Tipe Association Rule

*1. Multi-relational association rule*

Kelas baru aturan asosiasi, berbeda dari aturan asosiasi asli, sederhana, dan bahkan multi-relasional (biasanya diekstraksi 
dari database multi-relasional), setiap elemen aturan terdiri dari satu entitas tetapi banyak hubungan.

*2. Generalized association rule*

Alat yang ampuh untuk mendapatkan gambaran kasar tentang pola menarik yang tersembunyi dalam data.

*3. Quantitative association rule*

Jenis aturan asosiasi khusus. Tidak seperti aturan asosiasi umum, di mana sisi kiri dan kanan aturan harus berupa atribut 
kategori (nominal atau diskrit), setidaknya satu atribut (kiri atau kanan) aturan asosiasi kuantitatif harus berisi atribut 
numerik.

*4. Interval information association rule*

# Bagian dari Association Rule

* An antecedent = if
* A consequent = then

# Penggunaan Association Rule Mining

* Association Rule Mining: Basic Definitions
* Association Rule Mining: Rule Evaluation Metrics

# Teori dari Algoritma Apriori

1. Support
2. Confidence
3. Lift

# Implementasi Algoritma Apriori

In [39]:
#Import Library

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [40]:
pip install apyori

Requirement already satisfied: apyori in c:\users\win10\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [41]:
#Import dataset

store_data = pd.read_csv('https://raw.githubusercontent.com/vanggelina10/Exercise_W9_DataMining/main/store_data.csv')
store_data.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
#Dalam dataset ini tidak ada baris header. Tetapi, function pd.read_csv memperlakukan baris pertama sebagai header. 

store_data = pd.read_csv('https://raw.githubusercontent.com/vanggelina10/Exercise_W9_DataMining/main/store_data.csv', header=None)
store_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
#Data Prepocessing

records = []
for i in range(0, 7501):
    records.append([str(store_data.values[i,j]) for j in range(0, 20)])

In [65]:
#Applying Apriori

association_rules = apriori(records, min_support=0.0045, min_confidence=0.2, min_lift=3, min_length=2)
association_results = list(association_rules)

association_results[0]

RelationRecord(items=frozenset({'light cream', 'chicken'}), support=0.004532728969470737, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.29059829059829057, lift=4.84395061728395)])

# Referensi

Fauzy M, Saleh K, Asror I. (2015). Penerapan Metode Association Rule Menggunakan Algoritma Apriori pada Simulasi Prediksi Hujan Wilayah Kota Bandung. Core. https://core.ac.uk/download/pdf/299905763.pdf

Tumini, & Lestanto, E. (2017). Aplikasi Data Mining Menggunakan Metode Association Rule Dan Algoritma Apriori Berbasis Web Pada Perpustakaan Di SMA Negeri 1 Bungursari. Jurnal Informatika SIMANTIK. https://www.simantik.panca-sakti.ac.id/index.php/simantik/article/view/34

Aprianti W, Hafizd K, Rizani M. (2017). Implementasi Association Rules dengan Algoritma Apriori pada Dataset Kemiskinan. Media Neliti. https://media.neliti.com/media/publications/280117-implementasi-association-rules-dengan-al-42e5f699.pdf

Rai A. (2022). An Overview of Association Rule Mining & its Application. Upgrad. https://www.upgrad.com/blog/association-rule-mining-an-overview-and-its-applications/

Remanan S. (2018). Association Rule Mining. Medium. https://towardsdatascience.com/association-rule-mining-be4122fc1793

Kenali Data Science Algoritma Apriori pada Machine Learning. (2022). Dqlab. https://dqlab.id/kenali-data-science-algoritma-apriori-pada-machine-learning

Association Rules. (2022). Ilmu Skripsi. https://www.ilmuskripsi.com/2016/06/association-rules.html

Jena M. (2022). Association Rule Mining Simplified 101. Hevodata. https://hevodata.com/learn/association-rule-mining/

Types of Association Rules in Data Mining. (2022). Geeks for geeks. https://www.geeksforgeeks.org/types-of-association-rules-in-data-mining/

Malik U. (2022). Association Rule Mining via Apriori Algorithm in Python. Stack Abuse. https://stackabuse.com/association-rule-mining-via-apriori-algorithm-in-python/